/* CSS Document */

/*RESET*/
*{
	font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	outline:none;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	color:#333;
	text-decoration:none;
	list-style:none;
}
a{color:#06F;}
body{background:#eee}
	
.box{
	background:#fff;
	box-shadow:0 0 5px #aaa;
	width:600px;
	margin: 50px auto;
	padding:50px;
}
/*FORM*/	
input, textarea{
	border-radius:5px;
	background:#fff;
	box-shadow: 0 0 2px #06F;
	padding:5px;
	margin:5px;
	resize:none;
}
input:hover{box-shadow: 0 0 2px #F60}
.archivo{margin-top:10px; padding:5px;background-color:rgba(0,112,225,0.05)}
textarea{width:580px}
input.input_file{width:570px}
label{display:block;}
.button{
  display: block;
  zoom: 1;
  padding: 8px 30px 8px 50px;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #bbb;
  color: #555;
  background-color: #ddd;
  background-image: linear-gradient(top, rgba(255,255,255,1),rgba(255,255,255,0)),url(data:image/png;base64,iVBORw0KGg[...]QmCC); 
  transition: background-color .2s ease-out;
  -moz-transition:background-color .2s ease-out;
  -webkit-transition:background-color .2s ease-out;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
              0 2px 2px -1px rgba(0, 0, 0, .5),
              0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9); 
  font-size:14px;
}

.button:hover{background-color: #eee;color: #555;}
.button:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;  
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}
.button:before{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	padding:1px;
	text-align: center;
	margin: -8px 30px -6px -50px;
	position:absolute;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;
	font-size:24px;        
}
.color{
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0)),url(data:image/png;base64,iVBORw0KGg[...]QmCC);}
.color:hover{color:#fff}
.blue{background-color: #269CE9;border-color: #269CE9;}
.blue:hover{background-color: #70B9E8;}
.blue:active{background: #269CE9;}

li.negative, li.positive{margin-left:40px;}
.negative{color:#E10005}
.negative:before{content:"\2718"; margin-right:5px;}
.positive{color:#0CE100}
.positive:before{content:"\2714"; margin-right:5px;}
.img-form{width:300px;margin:0 auto;display:block}

h2{font-size:20px;font-weight:bold;}
.author,.date{display:block; font-style:italic;font-size:13px;color:#777}
.img_span{width:400px; height:300px;display:block;
	box-shadow:0 0 4px #ccc;
	border: 10px solid #f2f2f2;
	margin:10px auto;
}
.docs{margin:5px 30px;}
.docs a:before{content:"\2605"}

a.button{display:inline-block; margin:10px;}
.parent{text-align:center; display:block}
.edit:before{content: "\270E";}
